.dashboard-container ul {
    list-style: none;
}
.dashboard-container .dashboard-users ul {
    text-align: center;
}
.dashboard-container .dashboard-users ul li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
.dashboard-container .dashboard-selector {
    position: absolute;
    right: 10px;
}
.container .dashboard-tasks .notes {
    font-style: italic;
}
.container .dashboard-users ul {
    list-style-type:none;
    white-space:nowrap;
    overflow-x:auto;
}
.container .dashboard-users .fa-star.yellow {
    color: #f5f54d;
}
.container .dashboard-users .fa-star-o {
    cursor: pointer;
}