.dashboard-container ul {
    list-style: none;
    padding-left: 0;
}
.dashboard-container .dashboard-users ul {
    text-align: center;
}
.dashboard-container .dashboard-users ul li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
.dashboard-container .dashboard-users h3 > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
    display: inline-block;
}
.dashboard-container .dashboard-selector {
    max-width: 150px;
    position: absolute;
    right: 10px;
}
.container .dashboard-tasks .notes {
    font-style: italic;
}
.container .dashboard-tasks ul li > div {
    padding: 0;
}
.container .dashboard-tasks ul li div span i.fa {
    color: #60adf1;
}
.container .dashboard-tasks ul li div.col-md-4 {
    display: none;
}
.container .dashboard-tasks ul li div.col-md-3 {
    text-align: right;
}
.container .dashboard-users ul {
    list-style-type:none;
    white-space:nowrap;
    overflow-x:auto;
}
.container .dashboard-users .fa-star-o,
.container .dashboard-users .fa-star {
    position: absolute;
    margin-left: 5px;
}
.container .dashboard-users .fa-star.yellow {
    color: #f5f54d;
}
.container .dashboard-users .fa-star-o {
    cursor: pointer;
}
.dashboard-container .dashboard-selector label {
    display: none;
}
.dashboard-container .dashboard-selector select {
    margin-top: -5px;
}
@media (min-width: 768px) {
    .dashboard-container ul {
        padding-left: initial;
    }
    .dashboard-container .dashboard-selector label {
        display: block;
    }
    .dashboard-container .dashboard-selector select {
        margin-top: initial;
    }
    .container .dashboard-tasks ul li div.col-md-4 {
        display: block;
    }
}